<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
	    <div class="row">
	    	<div class="col col-80 text-white fs-18">
	    		All Employee (6)
	    	</div>
	    	<div class="col col-20">
	    		<i class="icon ion-arrow-down-b text-white" ng-click="openPopover()"></i>
	    	</div>
	    </div>
    <div class="flex-center">
     	<button class="button fs-22 button-clear  ion-calendar text-white">
        </button>
   </div>
   </ion-header-bar>
  <ion-content>
  	<div class="item item-divider text-orange">
  		{{selectedDate | date:'MMM yyyy'}}
  	</div>
  	<calendar calendar-mode="day" event-source="eventSource" event-selected="onEventSelected(event)"  ng-model="selectedDate" step="30" monthview-event-detail-template-url="monthviewEventDetailTemplateUrl" show-event-detail="true" ></calendar>

    <!-- <div class="padding bg-grey-light">
      <div ng-repeat="i in [1,1,1,1] track by $index" class="mar-bot">
      <p class="text-orange">Out on May 24</p>
      <div class="row no-padding">
        <div class="col col-25 flex-center ">
          <img src="img/grey-tree.icon.jpg" class="cal-event">
        </div>
        <div class="col col-75 text-align" style="border-bottom: 1px solid #d4d0d0;">
          <p class="text-grey fs-12 no-margin">No One Should be out on May 24 Enjoy It</p>
        </div>
      </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
