<ion-view view-title="employess" hide-nav-bar="true">
	<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
	    <div class="row" ng-click="openPopover()">
	    	<div class="col col-80 text-white fs-18">
	    		Admininstration (6)
	    	</div>
	    	<div class="col col-20">
	    		<i class="icon ion-arrow-down-b text-white"></i>
	    	</div>
	    </div>
    <div class="flex-center">
     	<button class="button button-icon button-clear ion-ios-search text-white">
        </button>
         <button class="button button-icon button-clear flex-center text-white">
         		<img src="img/Gentleman.jpg" class="gentle-man">
        </button>
   </div>
   </ion-header-bar>
  <ion-content>
  	<div ng-repeat="(key, val) in Employees">
	  	<p class="fs-16 text-black mar-auto Textshort">{{key}}</p>
	  	<div class="row" ng-repeat="lis in val" ng-click="OpenProfilePopup(lis)">
	  		<div class="col col-25 flex-center">
	  			<img ng-src="{{lis.photo}}" src="img/Gentleman.jpg" class="employe-pic">
	  		</div>
	  		<div class="col col-75 text-align bord-bot">
	  			<div style="line-height: 20px;">
	  				<p class="fs-16 text-black mar-auto">{{lis.name}}</p>
	     			<p class="fs-14 text-grey mar-auto">{{lis.title}}</p>
	     		</div>
	  		</div>
	  	</div>
  	</div>
  </ion-content>
</ion-view>
