<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white hi100 text-align">Inbox</h1>
      <button class="button fs-22 button-clear ion-archive text-white" ng-click="openPopover()">
        </button>
   </ion-header-bar>
  <ion-content class="flex-center">
  		<div class="text-center">
  			<i class="icon ion-archive fs-150 text-grey"></i>
  			<h3 class="text-grey">Nothing To See Here</h3>
  		</div>
  </ion-content>
</ion-view>
