<ion-view class="bg-cover" cache-view="false">
    <ion-content class="flex-center padding">
        <div class="wid-100 padding">
            <div class="text-center">
              <img src="img/hr-logo.jpg" class="logo-wid">
            </div><br>
            <div class="row">
                <div class="col col-40 flex-endd text-white bor-right2">
                    <span class="fs-42">HR</span>
                </div>
                <div class="col col-40 text-align text-white fs-12 ltr-spc2">
                    INFORMATAION<br>SYSTEM
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <div class="list">
                       <label class="item item-input bg-none no-border">
                            <p class="pad-input pad-left-10 fs-20 text-white">Email</p>
                        </label>
                        <label class="item item-input input-txt input-fi">
                            <input type="email" placeholder="example@mail.com" name="UserName" class="pad-input pad-left-10 fs-16 text-white no-border" ng-model="user.email">
                        </label>
                        <label class="item item-input bg-none no-border">
                            <p class="pad-input pad-left-10 fs-20 text-white">Password</p>
                        </label>
                        <label class="item item-input input-txt input-fi">
                            <input type="password" placeholder="*****" class="pad-input pad-left-10 fs-16 text-white" name="Password" ng-model="user.password">
                        </label>
                        <div class="flex-center">
                         <label class="checkbox" >
                                     <input type="checkbox" ng-model="clickonterm">
                                   </label>
                                   <span class="text-center  text-white" ng-click="forgotPassword()">Rember me</span>
                                   </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col flex-center" style="padding: 0px ">
                    <button class="button button-block text-white login-btn" ng-click="LoggedinUser(user)">Login</button>
                </div>
            </div>

            <br>

           
        </div>
    </ion-content>
</ion-view>