<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable bg-grad-header">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
        <!--  <img src="img/logomenu.png"> -->
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="">
      <h1 class="title"></h1>
    </ion-header-bar> -->
    <ion-content style="    top: 44px !important;">
      <ion-list class="hi100 menu">
          <!-- <a class="item item-avatar text-align menu-title" ui-sref="app.home" menu-close>
                  <img src="img/04-Menu/Original Size/home.png" class="icon-home">
                  <p class="text-black"><b>Home</b></p>
          </a> -->

          <a class="item item-icon-left menu-set" ui-sref-active="activehref" menu-close
           menu-close ui-sref="app.home" >
            <i class="icon ion-ios-home"></i>
            Home
          </a>

          <a class="item item-icon-left menu-set" ui-sref-active="activehref" menu-close ui-sref="app.employess">
            <i class="icon ion-android-contacts"></i>
            Employess
          </a>

          <a class="item item-icon-left menu-set" ui-sref-active="activehref" menu-close ui-sref="app.calendar">
            <i class="icon ion-calendar"></i>
            Calendar
          </a>

          <a class="item item-icon-left menu-set" ui-sref-active="activehref" menu-close ui-sref="app.time-off">
            <i class="icon ion-android-time"></i>
            Time Off
          </a>

          <a class="item item-icon-left menu-set" ui-sref-active="activehref" menu-close ui-sref="app.inbox">
            <i class="icon ion-ios-filing-outline"></i>
            Inbox (1)
          </a>
        <div class="menu-posi">
            <ion-item class="wid-100" menu-close ui-sref-active="activehref" ui-sref="app.setting" >
              SETTINGS
            </ion-item>
            <ion-item class="wid-100" menu-close ui-sref-active="activehref" ui-sref="app.support">
              SUPPORT
            </ion-item>
        </div>
        <!-- <ion-item menu-close ui-sref="app.request-time-off" >
          Request
        </ion-item>
        <ion-item menu-close ui-sref="app.calendar" >
          Calendar
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
