<ion-content class="event-detail-container" has-bouncing="false" ng-show="showEventDetail" overflow-scroll="false"
  style="margin-top: 10px;">
  <!-- <table class="table table-bordered table-striped table-fixed event-detail-table"> -->
  <!-- <tr ng-repeat="event in selectedDate.events" ng-click="eventSelected({event:event})">
                <td ng-if="!event.allDay" class="monthview-eventdetail-timecolumn">{{::event.startTime|date: 'HH:mm'}}
                    -
                    {{::event.endTime|date: 'HH:mm'}}
                </td>
                <td ng-if="event.allDay" class="monthview-eventdetail-timecolumn">Out on {{::event.startTime|date: 'dd-mm'}}</td>
                <td class="event-detail">{{::event.title}}</td>
            </tr>
            <tr> </tr>
            <tr ng-if="!selectedDate.events">
                <td class="no-event-label" ng-bind="::noEventsLabel"></td>
            </tr> -->

  <div ng-repeat="event in selectedDate.events" ng-click="eventSelected({event:event})">
    <div class="row" style="color: #ff9d0c !important;">
      <div class="col col-80 flex-left"><b>Out on {{::event.startTime|date: 'dd-MMM'}} </b> </div>
      <div class="col col-20 text-align" >
          {{selectedDate.date|date:"dd-MMM"}}

      </div>
    </div>
    <div class="row ">
      <div class="col col-20 flex-center">
        <img ng-src="{{::event.img}}" class="logo-wid" style="border-radius: 20px;">
      </div>
      <div class="col col-80 text-align" style="border-bottom: 1px solid gray">
        <div>
          <h4 class="fs-14 mar-auto ">{{::event.name}}</h4>
          <p class="fs-12 text-grey mar-auto">{{::event.title}}</p>
        </div>
        
      </div>
      <!-- <div class="col col-20 text-align" style="border-bottom: 1px solid gray">
          {{selectedDate.date|date:"dd-MMM"}}

      </div> -->

    </div>

  </div>
 
  </table>
  <div ng-if="!selectedDate.events">
     
      <div class="row" style="color: #ff9d0c !important;"><b>Out on {{selectedDate.date|date:"dd-MMM"}}</b> </div>
      <div class="row ">
          <div class="col col-20 flex-center">
            <img ng-src="img/Gentleman.jpg" class="logo-wid" style="border-radius: 20px;">
          </div>
          <div class="col col-80 text-align" style="border-bottom: 1px solid gray">
            <div>
             <p>No one should be out on {{selectedDate.date|date:"dd-MMM"}}. enjoy it ! </p>
            </div>
            <!-- <div class="col col-20 flex-center"  style="border-bottom: 1px solid gray">
               
              </div> -->
          </div>
        </div>
        

  </div>
</ion-content>
