<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white left-0 flex-end"> <img src="img/logomenu.png" class="img-set-logo"></h1>
      
   </ion-header-bar>

  <ion-content>
  <ion-scroll direction="x">
    <div class="row bor-bot-pad">
    	<div class="col col-50 flex-center " ng-repeat="slid in Sliders" >
    		<div class="wid-100 text-center bor-right1">
	    		<p class="p-text">{{slid.name}}</p>
	    		<img src="img/engnr-cap.png" ng-src="{{slid.icon}}" class="wid-25">
	    		<p class="p-text fs-12 mar-auto">{{slid.used}}</p>
    		</div>
    	</div>
    </div>
    </ion-scroll>
     <div class="row bor-bot-pad">
                <div class="col flex-center">
                    <button class="button button-block text-white home-btn mar-auto" ng-click="goRequestPage()">REQUEST TIME OFF</button>
                </div>
     </div>
     <div class="item item-divider fs-14">
     	INBOX REQUEST (1)
     </div>
     <div class="row">
     	<div class="col col-25 flex-center"> 
     		<img src="img/Gentleman.jpg" class="logo-wid" style="    border-radius: 20px;">
     	</div>
     	<div class="col col-75">
     		<h4 class="fs-14 ">Gary Noble</h4>
     		<p class="fs-12 text-grey mar-auto"><i class="icon ion-android-calendar text-orange"></i>&nbsp;&nbsp;May 27-30,2018</p>
     		<p class="fs-12 text-grey mar-auto"><i class="icon ion-android-time text-orange"></i>&nbsp;&nbsp;24 hours of vacation</p>
     	</div>
     </div>
      <div class="item item-divider fs-14">
     	WHO'S OUT
     </div>
     <ion-scroll direction="x">
         <div class="row bord-bot-grey">
            <div class="col col-33 flex-center pad-s" ng-repeat="who in WhosData track by $index" >
                <div class="wid-100 bor-right1 text-center">
                    <p class="mar-auto fs-12 whos">{{who.day}}</p>
                    <p class="mar-auto fs-12 whos">{{who.date}}</p>
                </div>
            </div>
        </div>
    </ion-scroll>

    <!--  <div class="row">
     	<div class="col flex-center pad-s" ng-init="active = 1" ng-class="(active=='1')?'activetab':'notactivetab'" ng-click="active=1">
     		<div class="wid-100 bor-right1 text-center">
	     		<p class="mar-auto fs-12">Today  (1)</p>
	     		<p class="mar-auto fs-12">Tuesday</p>
     		</div>
     	</div>
     </div> -->
     <div class="row bord-bot-grey" ng-repeat="his in HistoryEvent">
     	<div class="col flex-center">
     		<b>{{his.used}}</b>
     	</div>
     	<div class="col col-33 text-align">
     		<h6>{{his.date}}</h6>
     	</div>
     </div>

     <div class="row bor-bot-pad bord-bot-grey">
                <div class="col flex-center">
                    <button class="button button-block text-white home-btn" ng-click="goCalendarPage()">Go To Calendar</button>
                </div>
     </div>
  </ion-content>
</ion-view>
