<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white left-0 flex-end"> <img src="img/logomenu.png" class="img-set-logo"></h1>
   </ion-header-bar>
  <ion-content>
  </ion-content>
</ion-view>
