<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white hi100 text-align"> Settings</h1>
   </ion-header-bar>
  <ion-content>
  	<ul class="">
	  <!-- <li class="item item-toggle">
	     Use a systemHR PIN 
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li> -->
	  <a class="item" ng-click="logOut()">
	    Log Out
	  </a>
	   <label class="item item-input">
	   	 Rate system HR on the google play store
	    <!-- <input type="text" placeholder="First Name"> -->
	  </label>

	  <label class="item  text-grey">
	   	 <p class="mar-auto">Crafted with love by your friends at system HR.</p>

	   	 <p class="mar-auto">version 2.4.6</p>
	  </label>

	</ul>
  </ion-content>
</ion-view>
