<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white hi100 text-align">Support</h1>
      <button class="button fs-22 button-clear ion-archive text-white">
        </button>
   </ion-header-bar>
  <ion-content>
  </ion-content>
</ion-view>
