<ion-view view-title="" hide-nav-bar="true">
<ion-header-bar class="bg-none bg-grad-header">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
        </button>
      <h1 class="title text-white hi100 text-align">Time Off</h1>
      <button class="button fs-22 button-clear ion-calculator text-white">
        </button>
   </ion-header-bar>
     <button class="button add-btn" 
        ng-click="OpenNewRequestPopup()">
        <i class="icon ion-plus-round"></i>
     </button>
  <ion-content>
  <ion-scroll direction="x">
    <div class="row bor-bot-pad">
    	<div class="col col-50 flex-center " ng-repeat="slid in Sliders" >
    		<div class="wid-100 text-center bor-right1">
	    		<p class="p-text">{{slid.name}}</p>
	    		<img src="img/engnr-cap.png" ng-src="{{slid.icon}}" class="wid-25">
	    		<p class="p-text fs-12 mar-auto">{{slid.used}}</p>
    		</div>
    	</div>
    </div>
    </ion-scroll>
          <div class="item item-divider fs-14">
     	UPCOMING TIME OFF
     </div>
     <div class="row">
     	<div class="col col-20 flex-center"> 
     		<img src="img/Gentleman.jpg" class="logo-wid" style="border-radius: 20px;">
     	</div>
     	<div class="col col-80 text-align">
     		<div>
     		<h4 class="fs-14 mar-auto ">July 4</h4>
     		<p class="fs-12 text-grey mar-auto">Canada day</p>
     		</div>
     	</div>
     </div>
      <div class="item item-divider fs-14">
     	HISTORY
     </div>
     <div class="row" ng-click="OpenRequestPopup(HisE)" ng-repeat="HisE in HistoryEvent">
     	<div class="col col-20 flex-center"> 
     	<img src="img/grey-tree.icon.jpg" ng-src="{{HisE.photo}}" class="logo-wid" style="border-radius: 20px;">
     	</div>
     	<div class="col col-80 text-align">
     		<div>
     		<h4 class="fs-14 mar-auto ">{{HisE.date}}</h4>
     		<p class="fs-12 text-grey mar-auto">{{HisE.used}}</p>
     		</div>
     	</div>
     </div>

    
  </ion-content>
</ion-view>
