<ion-popover-view style="opacity: 1 !important" class="inbox-pop">
   <!-- <ion-header-bar>
      <h1 class = "title">Popover Title</h1>
   </ion-header-bar> -->
  
   <ion-content>
     
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-android-contacts fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          Asssign to me (6)
       </div>
     </div>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-location fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          Asssign to company (6)
       </div>
     </div>
   </ion-content>
</ion-popover-view>