<ion-modal-view hide-nav-bar="true">
    <div class="bar bar-header bg-grad-header bg-none">
      <button class="button fs-20 bg-none ion-close-round text-white" ng-click="CloseNewRequestPopup()"></button>
      <div class="h1 title text-white flex-end">New Time Off Request
        <button class="button button-clear button-positive bg-white text-orange btn-save" ng-click="SendRequest(request)">
            SEND
        </button>
      </div>
    </div>
 <ion-content class="has-header">
  <div class="row bor-bot">
    <div class="col col-50 flex-center">
      <input type="date" class="input-date" ng-model="request.from_date">
    </div>
    <div class="col col-50 flex-center">
      <input type="date" class="input-date" ng-model="request.to_date">
    </div>
  </div>
    <div class="bor-bot padding lin-hi36">
     <h5 class="text-grey mar-auto fs-12" style="padding-left: 4px;"> TIME OFF TYPE</h5>
     <select ng-model="request.timeoff_type" class="wid-100 no-border fs-14 text-grey">
        <option value="" ng-hide="true">Select Time Off Type</option>
        <option  ng-repeat="timeOff in Sliders track by $index" value="{{timeOff.used}}"><b class="text-black">{{timeOff.name}}</b>&nbsp;(<span class="text-grey">{{timeOff.used}}</span>)&nbsp;</option>
     </select>
      <!-- <input type="number" name="" ng-model="request.timeoff_type"> -->
   </div>
   <div class="bor-bot padding lin-hi36">
     <h5 class="text-grey mar-auto fs-12">AMOUNT</h5>
     <input type="text" name="" ng-model="request.total">
   </div>
   <div class="padding" style="line-height: 10px !important;">
     <h5 class="text-grey mar-auto fs-12">Note</h5><br>
     <textarea placeholder="Comments" ng-model="request.note"></textarea>
   </div>
  </ion-content>
 </ion-modal-view>