<ion-popover-view style="opacity: 1 !important">
   <!-- <ion-header-bar>
      <h1 class = "title">Popover Title</h1>
   </ion-header-bar> -->
  
   <ion-content>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-android-contact fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          My Circle (6)
          <p class="mar-auto fs-12 text-grey">Peer, Manager, Direct reports</p>
       </div>
     </div>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-android-contacts fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          Administration (6)
       </div>
     </div>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-location fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
         IM / IT  (6)
       </div>
     </div>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-outlet fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          Von Vocouver (6)
       </div>
     </div>
     <div class="row padotb">
       <div class="col col-20 flex-center text-grey">
         <i class="icon ion-location fs-20"></i>
       </div>
       <div class="col col-80 fs-16 text-grey">
          All employee (6)
       </div>
     </div>
   </ion-content>
</ion-popover-view>