﻿<ion-modal-view hide-nav-bar="true" class="">  
 <ion-content class="">
  <div class="bg-mhn">
    <div class="row">
      <div class="col col-25 ">
          <button class="button button-clear icon ion-close text-white" ng-click="CloseProfilePopup()"></button>
      </div>
       <div class="col  flex-center">
          <img src="img/Gentleman.jpg" ng-src="{{ProfileData.photo}}" class="profile-center">
      </div>
       <div class="col col-15">
          <button class="button button-clear icon ion-person-add text-white"></button>
      </div>
       <div class="col col-15">
          <button class="button button-clear icon ion-android-share-alt text-white" ng-click="openShare()"></button>
      </div>
    </div>
    <div class="text-center text-white">
      <h5 class="text-white fs-20">{{ProfileData.name}}</h5>
          <p ng-if="ProfileData.title" class="fs-16">{{ProfileData.title}}</p>
          <p ng-if="!ProfileData.title" class="fs-14">Vice Presedent and technology</p>
    </div>
    <div class="row no-padding">
      <div class="col col-50 flex-center" ng-init="active=1" ng-class="(active=='1')?'activetab':'notactivetab'" ng-click="active=1">
          <div class="wid-100 text-center">
            <img src="img/personal.png" class="pro-logo">
            <h5 class="text-white">PERSONAL</h5>
          </div>
      </div>
      <div class="col col-50 flex-center" ng-class="(active=='2')?'activetab':'notactivetab'" ng-click="active=2">
          <div class="wid-100 text-center">
            <img src="img/emergency.png" class="pro-logo">
            <h5 class="text-white">EMERGENCY</h5>
          </div>
      </div>
    </div>
 </div>
    <div class="padding">
       <div ng-show="(active=='1')?true:false">
         <h5 class="text-orange">Contact</h5>
          <div class="bor-bot">
          <h5 class="text-grey">Work Phone</h5>
             <a class="item item-icon-right bg-none no-border" style="padding: 0px 54px 4px 4px;">
                <input type="text"  ng-model="update.work_phone" placeholder="62581866" class="wid-100">
                <i class="icon ion-android-call text-orange fs-26"></i>
              </a>
          </div>
          <div class="bor-bot">
             <h5 class="text-orange mar-auto">Add mobile Phone</h5>
             <input type="text" name="phone" ng-model="update.mobile_phone">
         </div>
         <div class="bor-bot">
           <h5 class="text-orange mar-auto">Add Home Phone</h5>
           <input type="text" name="" ng-model="update.home_phone">
         </div>
         <div class="bor-bot">
         <h5 class="text-grey mar-auto">Work Email</h5>
           <a class="item item-icon-right bg-none no-border" style="padding: 0px 54px 4px 4px;">
            <input type="email" name="" ng-model="update.work_email">
            <i class="icon ion-email text-orange fs-26"></i>
           </a>
          </div>
          <div class="bor-bot">
          <h5 class="text-grey mar-auto">Add Home Email</h5>
             <a class="item item-icon-right bg-none no-border" style="padding: 0px 54px 4px 4px;">
                <input type="email" name="" ng-model="update.home_email">
                <i class="icon ion-email text-orange fs-26"></i>
              </a>
          </div>
          <h5 class="text-orange">Basic Information</h5>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Employee #</h5>
           <input type="text" name="" ng-model="update.emp_id">
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">Status</h5>
           <input type="text" name="" ng-model="update.status">
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">First Name</h5>
           <input type="text" name="" ng-model="update.first_name">
         </div>
          <div class="bor-bot">
           <h5 class="text-orange mar-auto">Add Middle Name</h5>
           <input type="text" name="" ng-model="update.middle_name">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Last Name</h5>
           <input type="text" name="" ng-model="update.last_name">
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">Preferred Name</h5>
           <input type="text" name="" ng-model="update.prefer_name">
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">Birth Date</h5>
           <input type="text" ng-model="update.dob" fromat="yyyy-mm-dd">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Gender</h5>
           <input type="text" name="" ng-model="update.gender">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Marital Status</h5>
           <input type="text" name="" ng-model="update.marital_status">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Street 1</h5>
           <input type="text" name="" ng-model="update.street1">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Street 2</h5>
           <input type="text" name="" ng-model="update.street2">
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">City</h5>
           <input type="text" name="" ng-model="update.city">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Province</h5>
           <select ng-model="update.province"  class=" wid-100 no-border fs-14 text-grey padding ped-left-z" name="country">
                    <option value=""  ng-hide="true">Select Province</option>
                    <option ng-repeat="Province in ProvinceList" value="{{Province.p_id}}">{{Province.name}}</option>
                </select>
         </div>
         <div class="bor-bot">
           <h5 class="text-grey mar-auto">Postal Code</h5>
           <input type="text" name="" ng-model="update.postal_code">
         </div>
          <div class="bor-bot">
           <h5 class="text-grey mar-auto">Country</h5>
               <select ng-model="update.country"  class=" wid-100 no-border fs-14 text-grey padding ped-left-z" name="country">
                    <option value=""  ng-hide="true">Select Country</option>
                    <option ng-repeat="country in CountryList" value="{{country.country_name}}">{{country.country_name}}</option>
                </select>
         </div>

         <h5 class="text-orange">Basic Information</h5>
         <div class="bor-bot">
           <h5 class="text-orange mar-auto">Linkedin</h5>
           <input type="text" name="" ng-model="update.linkedin">
         </div>
         <div class="bor-bot">
           <h5 class="text-orange mar-auto">Twitter</h5>
           <input type="text" name="" ng-model="update.twitter">
         </div>
         <div class="bor-bot">
           <h5 class="text-orange mar-auto">Facebook</h5>
           <input type="text" name="" ng-model="update.facebook">
         </div>
         <div ng-if="id == ProfileData.e_id">
          <button class="button wid-100 bg-mhn text-white" ng-click="UpdateProfile(update)">
            Submit
        </button>
         </div>
         
       </div>
    </div>
  </ion-content>
 </ion-modal-view>