<ion-modal-view hide-nav-bar="true" class="">  
 <ion-content class="">
  <div class="bg-mhn">
    <div class="row">
      <div class="col col-20">
          <button class="button button-clear ion-close text-white fs-20" ng-click="CloseRequestPopup()"></button>
      </div>
       <div class="col text-align text-white fs-18">
          Request Details
      </div>
    </div>
    <div class="row">
      <div class="col col-20 text-center ">
          <img src="img/palm-tree-icon.png" class="" style="width: 40px;">
      </div>
       <div class="col text-align text-white fs-18">
        <div style="border-bottom: 1px solid white;padding-bottom: 16px;width: 100%;">
          <h2 class="mar-auto text-white">{{HitstorData.date}}</h2>
          <h6 class="mar-auto text-white">Wednesday</h6>
          <br>
          <h5 class="mar-auto text-white">6 hour of vacation</h5>
          <h5 class="mar-auto text-white">Requested Feb 25,2018</h5>
          <h5 class="mar-auto text-white">Pending Approval by Daff Duck</h5>
          </div>
      </div>
    </div>
    <div class="row" ng-click="OpenProfilePopup()">
      <div class="col col-20 flex-center"> 
        <img src="img/Gentleman.jpg" class="" style="border-radius: 20px;width: 30px !important;">
      </div>
      <div class="col col-80 text-align">
        <div>
        <h4 class="fs-16 mar-auto text-white">Garry Noble vff</h4>
        </div>
      </div>
    </div>
 </div>
    <div class="">
      <div class="row" ng-click="OpenProfilePopup()">
      <div class="col col-20 flex-center"> 
        <i class="icon ion-ios-clock-outline fs-30"></i>
      </div>
      <div class="col col-40 text-align">
        <div>
        <h4 class="fs-16 mar-auto">Hours Per Day</h4>
        </div>
      </div>
      <div class="col  flex-center"> 
        <h5 class="fs-14 mar-auto text-grey">6 hour total</h5>
      </div>
    </div>

    <div class="row" ng-click="OpenProfilePopup()">
      <div class="col col-20 flex-center"> 
        <img src="img/Gentleman.jpg" class="" style="border-radius: 20px;width: 30px !important;">
      </div>
      <div class="col col-80 text-align">
        <input type="text" placeholder="Add a Comment" class="wid-100" style="border-bottom: 1px solid #c5c1c1;">
      </div>
    </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bg-grey-lyt">
    <div class="row">
      <div class="col col-50 flex-center bor-rit">
          <i class="icon ion-checkmark text-orange">&nbsp;APPROVE</i>
      </div>
      <div class="col col-50 flex-center" >
          <i class="icon ion-close" ng-click="CloseRequestPopup()">&nbsp;DENY</i>
      </div>
    </div>
  </ion-footer-bar>
 </ion-modal-view>