/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

/* Empty. Add your own CSS if you like */



/*@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.eot");
    src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Montserrat-Medium.otf") format("opentype"),
    url("./fonts/Montserrat-Medium.svg") format("svg"), 
    url("./fonts/Montserrat-Medium.ttf") format("truetype"), 
    url("./fonts/Montserrat-Medium.woff") format("woff"), 
    url("./fonts/Montserrat-Medium.woff2") format("woff2");
   
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.eot");
   
    src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Montserrat-Regular.otf") format("opentype"),
    url("./fonts/Montserrat-Regular.svg") format("svg"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype"), 
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2");
   
    font-weight: normal;
    font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, span, option, button, select, input, textarea {

     font-family: "Montserrat-Light" !important;

}*/

.title.center-tag.title-left {
    text-align: center;
}

.calendar-container {
    height: 45% !important;
}

.add-btn{
    position: absolute;
    z-index: 9999;
    right: 10px;
    bottom: 80px;
    background: #f17515;
    color: white;
    height: 50px;
    border-radius: 50%;
    width: 50px;
}

.inbox-pop{
  height: 120px !important;
}

.header-select{
  border:none !important;
  background: none !important;
  width: 100% !important;
}

.wid-25{
  width: 25px !important;
}

.padotb{
      padding: 12px 0px !important;
}
.popover {
    position: absolute;
    top: 14% !important;
    left: 50%;
    z-index: 10;
    display: block;
    margin-top: 12px;
    margin-left: -110px;
    height: 280px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.building {
  background-image: url('../img/background.jpg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  
}

.border-r-50{
  border-radius: 50% !important;
}

.wid-profile{
      width: 100px !important;
    height: 100px !important;
}


.tot-bag{
  border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;
}
.pad-set-p{
  padding: 20px 0px 10px 0px !important;
}

.cal-event {
    border-radius: 50%;
    width: 54px !important;
    height: 54px !important;
}

.profile-center{
    border-radius: 50%;
    border: 3px solid white;
    width: 90px !important;
    height: 90px !important;
    object-fit: cover;
}

.bg-grey-lyt{
  background: #efefef !important;
}

.bor-rit{
  border-right: 1px solid #a7a5a5;
}

.pro-logo {
    width: 26px !important;
    filter: invert(100%);
}

.bor-bot{
    border-bottom: 1px solid #dadada;
    margin-bottom: 8px;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.text_dot{
    white-space: nowrap !important;
    width: 220px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: black !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.dis-flex{
    display: flex;
        align-items: center;
}

.text-red{
    color: red !important;
}

.bg-yello{
  background: #f0ad4e !important;
}

.bg-cover {
  background-image: url('../img/background.jpg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.flex-end{
	align-items: center;
	display: flex !important;
	justify-content: flex-end;
}


.img-set-logo{
	width: 130px !important;
	height: 24px !important;
}
.brif-wid{
	width: 38px !important;
}

.text-yellow{
  color: #e7aa2d !important;
}

i.icon.ion-record {
    color: #40a47d !important;
}

.slider-pager {
    position: absolute;
    bottom: 0px !important;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
}

.star-size{
  width: 30px !important;
}

.border-none{
  border:none !important;
}

.no-radius{
  border-radius: 0px !important;
}

.no-margin{
  margin: 0px !important;
}

.bid-coin-size{
  width: 38% !important;
}

.ncros{
  width: 32px !important;
}

.bg-shedow{
	    background: rgba(49, 49, 49, 0.47058823529411764) !important;
}

.green-color{
	 /*   color: #07aa6a !important;*/
      color: #40a47d !important;
}



::-webkit-input-placeholder {
    color: #e9e7e6  !important;
}
.text-white-lyt{

  color: #e9e7e6  !important;

}

.text-star-y{
    color: #d08f1c !important
}

.bid-coins{
      float: right;
    background: green;
    color: white;
    padding: 0px 8px;
    border-radius: 6px;
    font-size: 12px;
}

.ribbon {
    position: absolute;
    top: 25px;
    right: -5px;
    padding: 10px;
}

.ribbon span {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    left: -9px;
    top: 0px;
    bottom: 0px;
    border-left: 10px solid transparent;
}

.ribbon.orange {
    background: #ff8a3c;
    color: #fff;
    /*border-right: 5px solid #ffc7a2;*/
}

.ribbon.orange:after {
    border-bottom: 27px solid #ff8a3c;
}

.ribbon.orange:before {
    border-top: 27px solid #ff8a3c;
}

.ribbon.green {
    background: green;
    color: #fff;
    /*border-right: 5px solid green;*/
}

.ribbon.green:after {
    border-bottom: 27px solid green;
}

.ribbon.green:before {
    border-top: 27px solid green;
}

.border-r-b{
      border-right: 1px solid;
   
}

.border{
  border: 1px solid grey;
}

.text-bl{
  color: #34485c !important;
}

.pad-02{
  padding: 0px 2px !important;
}

.pad-4{
  padding-left: 4px !important;
}

span.fc-header-title h2 {
    font-size: 20px;
}

.fc-view table tbody tr:nth-child(1) td:nth-child(4) {
    background: #8bc63e;
    color: white;
}

.fc-view table tbody tr:nth-child(2) td:nth-child(3) {
    background: #8bc63e;
    color: white;
}

.fc-view table tbody tr:nth-child(3) td:nth-child(1) {
    background: #8bc63e;
    color: white;
}

.fc-view table tbody tr:nth-child(4) td:nth-child(2) {
    background: #8bc63e;
    color: white;
}

.fc-view table tbody tr:nth-child(1) td:nth-child(5) {
    background: #be1d2c;
    color: white;
}




.fc-view table tbody tr:nth-child(1) td:nth-child(3) {
    background: #be1d2c;
    color: white;
}

.fc-view table tbody tr:nth-child(2) td:nth-child(4) {
    background: #be1d2c;
    color: white;
}

.fc-view table tbody tr:nth-child(3) td:nth-child(2) {
    background: #be1d2c;
    color: white;
}

.fc-view table tbody tr:nth-child(4) td:nth-child(3) {
    background: #be1d2c;
    color: white;
}












.fc-view table tbody tr:nth-child(4) td:nth-child(4) {
    background: #fbb03f;
    color: white;
}

.fc-view table tbody tr:nth-child(3) td:nth-child(3) {
    background: #fbb03f;
    color: white;
}





.fc-view table tbody tr:nth-child(2) td:nth-child(3) {
    background: #939598;
    color: white;
}






ion-content.flex-center .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 90%;
}

.padi-tabs{
      padding: 12px 0px !important;
}

.width-s{
  width: 14px !important;
}

.input-f{
      width: 100% !important;
    border: 1px solid #dad9d9 !important;
    padding-left: 10px !important;
}

input.input-f::placeholder {
    color: #848181 !important;
}

.bor-bot-1{
  border-bottom: 1px solid #ddd !important;
}

.pad-left-20{
  padding-left: 20px !important;
}

.bor-bot-2{
  border-bottom: 1px solid #dad9d9 !important;
}

.margin-bot-10{
  margin-bottom: 10px !important;
}

.margin-bot-4{
  margin-bottom: 4px;
}

.taskInnerLeft .text-avtar {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.bg-grey-light{
      background: #eeeeee;
}



.pad-0{
    padding-left:0px
}

.item-avatar-left > img:first-child {
    max-width: 70px;
    max-height: 70px;
    top: 8px;
    left: 8px;
}

p.avatorTitle {
    font-size: 15px !important;
}

.col25-border{
    border-radius: 50%;
    border: 1px solid #a4a4a4;
    position: relative;

    box-shadow: 0px 1px 0px #a4a4a4;
}

.hi-60{
      height: 60px !important;
}

.float-right{
  float: right;
}

.chatList {
    padding-left: 10px;
}

.bg-content{
  background: #f4f4f4 !important;
}
.upperTabs {
    font-size: 13px;
    padding-top: 4px !important;
}

.select-product{
      border: 3px solid #afaaaabf !important;
}

.bor-right{
	border-right: 1px solid white !important;
}

.promo{
      display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 10px !important;
    align-items: center;
}

.p-text{
	color: #0c0c0c;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.bor-bot-white{
      border-bottom: 6px solid white !important;
}

.bg-white{
  background: white !important;
}

.gentle-man{
  border-radius: 20px;
  width: 26px !important;
}

.notactivetab {
         color: #b1b1b1;
         /*border-bottom: 1px solid #f1eded;*/
}

.pad-s{
	    padding: 8px 0px !important;
}

.bg-greens{
	 background: #84bfa8 !important;
}

.bg-green{
   /*background: #40a47d !important;*/
   background: #40a47d !important;

}

.prof{
  width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    object-fit: cover;
}
.activetab {
     color: #f56509;
    border-bottom: 3px solid #f56509;
}

.bord-bot-grey{
  border-bottom: 1px solid #f1eded;
}



.li-padding-left{
       padding-right: 22px;
    padding-left: 6px;
}

.pad-0-right{
    padding-right:0px
}

.padi-right {
    padding: 0px 2px 0px 0px !important;
}
.padi-left {
    padding: 0px 0px 0px 2px !important;
}

.pad-0-10{
      padding: 0px 10px !important;
}

.pad-5{
  padding: 5px !important
}

.noti-dot{
      background: #0a9dc7;
    height: 20px;
    border-radius: 50%;
    width: 20px;
}
.menu-set {
  
  color: #6b6a6a !important;
  font-weight: 600 !important;
      border: none !important;

}

.bord-bot{
  border-bottom: 1px solid grey !important;
}

.Textshort{
    padding: 10px 20px !important;
}

.employe-pic{
      border-radius: 36px !important;
      width: 50px !important;
      height: 50px !important;
          object-fit: cover !important;
}

.bg-mhn{
  background: #dc9224 !important;
}

.menu-posi{
  position: absolute !important;
      bottom: 20px !important;
      width: 100% !important;
}

.text-grey{
  color: grey;
}

 

.activehref {
            color: #f56509 !important;
}

.ltr-spc{
	letter-spacing: 1px !important;
}

.ltr-spc2{
	letter-spacing: 2px !important;
}

.position-relative{
  position: relative;
}
i.icon.ion-ios-arrow-back {
    color: white;
}

i.icon.ion-android-arrow-back {
    color: white !important;
}

span.back-text {
    color: transparent;
}

.text-green{
	/*color: #40a47d !important;*/
  color: #40a47d !important;
}

.bg-black{
  background:black;
}

.mar-0-4{
  margin: 0 4px;
}

.mar-bot{
  margin-bottom: 10px !important;
}

.txt-bg {
   /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.67);*/
    color: #fff;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

.trans-rot-40{
  transform: rotate(40deg) !important;
}

i.icon.ion-hammer::before {
    transform: rotate(-38deg);
}

button.button.icon-left.ion-hammer.bg-green.text-white.flex-center.wid-100.no-radius::before {
    transform: rotate(-38deg);
    margin-right: 4px;
}



.btn-padi-icn{
  padding: 10px 10px 10px 54px !important;
}

.bg-grey-li-1 {
    background: #ededed!important;
}

.bg-grey-dark {
    background: #403f3f!important;
}

.btn-del{
      margin: auto !important; 
    border-radius: 0px !important;
    min-height: 30px !important;
    line-height: 30px !important;
    font-size: 12px !important;
}

.wid-80 {
    width: 80% !important;
}

.wid-70{
  width: 70% !important;
}

.text-black{
  color: black !important;
}

.text-align{
  align-items: center;
  display: flex !important;
}

.text-position{
         align-items: center;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    justify-content: center;
        /*background: none repeat scroll 0 0 rgba(27, 14, 14, 0.17);*/
    margin: auto;
}

.mar-auto{
   margin: auto !important;
}

.flex-center{
  align-items: center;
    display: flex !important;
    justify-content: center;
}

.number-set{
      right: 25px !important;
          background-color: #11c1f3 !important;
    color: #fff !important;
}

.clr-01{
  background: #1d8acf !important;
}

.clr-02{
  background: #d94249 !important;
}

.clr-03{
  background: #f39c12 !important;
}

.clr-04{
  background: #05958c !important;
}

.clr-05{
  background: #9747ce !important;
}

.clr-06{
  background: #3d9970!important;
}

.clr-07{
  background: #c96915 !important;
}

.clr-08{
  background: #7add84 !important;
}

.clr-09{
  background: #3650a4 !important;
}

.hi-100{
  height: 100px !important;
}

.hi100{
  height: 100% !important;
}
.wid-doc{
      width: 110px !important;
}

ion-list.hi100.menu .list {
    height: 100% !important;
}

.wi-hi-100{
  width: 100%;
  height:100%;
}
  .hi100{
   height:100% !important;
  }


.wid-100{
  width: 100% !important;
}

.col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 2%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 2%;
    -ms-flex: 0 0 2%;
    flex: 0 0 2%;
    max-width: 2%;
}

.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 4%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 4%;
    -ms-flex: 0 0 4%;
    flex: 0 0 4%;
    max-width: 4%;
}

.col-48 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}


.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.text-wyt{
    color: white !important;
}

.tex-posi {
    position: absolute;
    bottom: 0;
}

.white-space{
  white-space: normal !important;
}

.title.title-left.header-item {
    text-align: center;
    width: 100%;
    left: 0px !important;
    margin: auto;
    right: 0px !important;
    height: 100% !important;
}

ion-header-bar.bg-none.bg-grad-header {
    height: 52px;
}

.right-zero{
    right: 0px !important;
}

.profile-pic{
          width: 100%;
    height: 110px;
    position: relative;
    border: 1px solid #333;
}

.tab-clr{
  border-color: orange !important;
    background-color: orange !important;
    color: white !important;
}

.profile-pic-img {
         width: 100%;
    height: 100%;
    padding: 2px;
}

.profile-camera {
    position: absolute !important;
    font-size: 18px !important;
    padding: 4px !important;
    bottom: -5px !important;
    background: #19725e !important;
    border-radius: 50% !important;
    width: 28px !important;
    height: 28px !important;
    text-align: center !important;
    right: -2px !important;
    color: #fff !important;
}

.number{
	        padding: 11px;
    background: #11c1f3;
    border-radius: 53px;
    font-size: 18px;
    height: 33px;
    color: white;
    align-items: center;
    display: flex;
}



.wid-logo{
    width: 110px;
}

.logo-img{
    width: 44% !important;  
}

.hdr-logo{
      width: 36% !important;
}


.text-white{
	color: white !important;
}

.bg-blue{
	    background : #3b5998 !important;
}
.bg-red{
	   background: #c70101 !important;
}

.bg-grey-li{
	background: #d2d2d2 !important;
}


.bar-clr {
    background: rgba(57, 68, 82, 0.9803921568627451) !important;
    color: #fff !important;
    text-align: center;
}

.bg-hdr{
	background: #2a323d !important;
}

.hdr-text{
	color:white;
	font-size:22px;
	margin-top: 10px !important;
	letter-spacing: 2px;
}

.fb-btn{
	    width: 96% !important;
   		 margin-left: 0px !important;
   		    background: #5187d2 !important;
   		        border-radius: 30px !important;
}

.gle-btn{
	width: 96% !important;
   		 margin-right: 0px !important;
   		 background: #df4a32 !important;
   		     border-radius: 30px !important; 
}

.notifi-count{
    position: absolute;
    right: 0px;
    top: 0px;
    background: #40a47d;
    color: white;
    padding: 8px;
    height: 16px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.login-btn {
   background: #f7f7fb !important;
    border-radius: 30px;
    color: #f56509 !important;
    font-weight: 600;
    font-size: 22px;
    width: 85% !important;
}

.logo-wid{
	width: 40px !important;
}


.bor-bot-pad{
	    border-bottom: 1px solid #e0e0e0;
   /* padding-bottom: 0px !important;*/
}

.home-btn{
	    background: #f56509 !important;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    width: 70% !important;
    padding: 0 12px;
    min-height: 34px !important;
    line-height: 38px !important;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pad{padding: 0 18px;}

.input-fi{
          border: none !important;
    border-radius: 40px;
    background: rgba(200, 86, 12, 0.71) !important;
        margin: 6px 0px;
}

.bor-right2{
	border-right: 2px solid white !important;
}

.bor-right1{
	    border-right: 1px solid #cac7c7 !important;
}

.padding-6 {
    padding: 6px;
}

.pad-left-10{
  padding-left: 10px !important;
}

.no-padding {
    padding: 0px !important;
}



.bg-none{
  background: none !important; 
}

.bg-blu1 {
    background-color: #4c76a2 !important;
}
.bor-rad-30{
      border-radius: 30px;
}

.present-value{
        margin: auto;
    border-radius: 4px;
    background: #8bc63e;
    color: white !important;
}

.absent-value {
    margin: auto;
    border-radius: 4px;
    background: #be1d2c;
    color: white !important;
}

.leave-value{
        margin: auto;
    border-radius: 4px;
    background: #939598;
    color: white !important;
}

.half-value {
    margin: auto;
    border-radius: 4px;
    background: #fbb03f;
    color: white !important;
}

.clr-p{
  color: #8bc63e !important;
}

.clr-a{
  color: #be1d2c !important;
}

.clr-l{
  color: #939598 !important;
}

.clr-h{
  color: #fbb03f !important;
}


.cal-bor-P{
      border: 1px solid #8bc63e;
    border-radius: 50%;
}

.cal-bor-A{
      border: 1px solid #be1d2c;
    border-radius: 50%;
}
.cal-bor-L{
      border: 1px solid #939598;
    border-radius: 50%;
}
.cal-bor-H{
      border: 1px solid #fbb03f;
    border-radius: 50%; 
}



.fs-8{
    font-size: 8px !important;
}
.fs-9{
    font-size: 9px !important;
}
.fs-10{
    font-size: 10px !important;
}
.fs-12{
  font-size: 12px !important;
}
.fs-13{
    font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-22{
  font-size: 22px !important;
}
.fs-24{
  font-size: 24px !important;
}
.fs-26{
  font-size: 26px !important;
}
.fs-28{
  font-size: 28px !important;
}
.fs-30{
  font-size: 30px !important;
}
.fs-32{
  font-size: 32px !important;
}
.fs-34{
  font-size: 34px !important;
}


.fs-150 {
    font-size: 150px !important;
}


.flex-endd{
	    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
        border-right: 2px solid white;
    margin-right: 10px;
    padding-right: 16px;
}

.fs-42{
  font-size: 42px !important;
}

.chat-left{
      background: #a3a3a5;
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    float: left;
}

.chat-right{
          background: #a3a3a5;
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    float: right;
}

.bg-chat{
  background: #efeaeaa1;
}

.inpu-personal{
    width: 100% !important;
    padding-left: 10px !important;
    border-radius: 4px !important;
    font-size: 11px !important;
    border: none !important;
}

.chat-text{
      background: #f3efef;
    border-radius: 20px;
    height: 28px;
    padding: 16px;
    padding-bottom: 22px;width: 100%;
}

.back-width {
    background: transparent;
    width: 100%;
    max-height:62px;
}

.wid-50 {
    width: 50% !important;
}

.icon-set{
	border-right: 1px solid rgba(0, 0, 0, 0.37);
    left: 6px !important;
    padding-right: 5px !important;
}

.border-bot-order{
  border-bottom: 1px solid #d2d2d2 !important;
    margin-bottom: 1px !important;
}

.border-bot-menu{
      border-bottom: 1px solid #38414a !important;
}

.check-para{
  line-height: 16px;
    text-align: justify;
    font-size: 12px !important;
}

.bor-ryt-gre{
  border-right: 1px solid #eaeaea !important;
}

.no-border{
  border:none !important;
}

.bg-grad-header{
	    background-image: linear-gradient(50deg, #ff9d0c, #e44d1e) !important;
}

.text-orange{
	color: #f56509 !important;
}

ion-header-bar.bar-stable.bg-grad-header.bar.bar-header {
    height: 52px !important;
}

.has-header {
    top: 52px !important;
}

.lin-hi36{
  line-height: 36px !important;
}

.input-date{
      /*width: 100% !important;*/
      font-size: 16px !important;
      height: 100% !important;
      padding: 0px !important;
      color: #ef6e17 !important;
}

.btn-save{
    margin-left: 20px !important;
    padding: 0px 18px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
}

.checkbox input:before, .checkbox-icon:before {
    
    border-radius: 0px !important; 
}

.checkbox input, .checkbox-icon {
    width: 12px !important;
    height: 12px !important;
}

.checkbox input:after, .checkbox-icon:after {
   
    top: 16% !important;
    left: 22% !important;
   
    width: 8px !important;
    height: 4px !important;
    
}

.whos{
    color: grey;
    letter-spacing: 0.6px;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: none !important;
}
.monthview-selected {
    background-color: transparent !important;
}
.monthview-selected span{
    background-color: #f68212 !important;
    color: #fff;
    padding: 8px;
    border-radius: 50% !important;
}
.monthview-current{
   background-color: transparent !important; 
}
.monthview-current span{
    background-color: lightgrey;
    padding: 8px;
    border-radius: 50% !important;
}
.monthview-primary-with-event .monthview-selected span{

}
.monthview-primary-with-event {
    background-color: transparent !important;
    color: unset !important;
}
.monthview-primary-with-event span{
    background-color: #3a87ad;
    color: white;
    padding: 8px;
    border-radius: 50% !important;
}
thead > tr {
    background: #f1f3f0 !important;
}

.ped-left-z{
  padding-left: 0px !important;
}
.event-detail-container {
    border-top: 2px darkgrey solid;
    margin-top: 300px !important;
}